body{
  margin:0;
  font-family:Arial, sans-serif;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#131921;
  padding:15px 40px;
  color:white;
}

.logo a{
  text-decoration:none;
  color:white;
  font-size:28px;
  font-weight:bold;
}

.logo span{
  color:#ff9900;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:25px;
  margin:0;
  padding:0;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:16px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#ff9900;
}

.search-box{
  display:flex;
  align-items:center;
}

.search-box input{
  padding:8px;
  border:none;
  outline:none;
  width:220px;
  border-radius:4px 0 0 4px;
}

.search-box button{
  padding:8px 15px;
  border:none;
  background:#febd69;
  cursor:pointer;
  border-radius:0 4px 4px 0;
  font-weight:bold;
}

.search-box button:hover{
  background:#f3a847;
}

.cart{
  position:relative;
  font-size:28px;
  cursor:pointer;
}

.cart-dot{
  width:12px;
  height:12px;
  background:#ff0000;
  border-radius:50%;
  position:absolute;
  top:2px;
  right:-2px;
  border:2px solid white;
}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:15px;
  }

  .nav-links{
    flex-direction:column;
    text-align:center;
  }

  .search-box input{
    width:180px;
  }

}